.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container .homeBgImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: lowOpaciy 2s linear;
}
@keyframes lowOpaciy {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.textCenter {
  color: white;
  position: absolute;
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
}

/* About Section */
.aboutSection {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin: 50px 0;
  border-radius: 10px;
  overflow: hidden;
}
.aboutSection .aboutSectionLeft,
.aboutSectionRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutSection .aboutSectionLeft img {
  height: 300px;
  width: 70%;
  object-fit: cover;
  object-position: bottom;
}

.aboutSection .aboutSectionRight h2 {
  font-weight: bold;
  font-size: 5rem;
  font-family: "Passions Conflict", cursive;
}
.aboutSection .aboutSectionRight p {
  font-family: "Circularair";
  padding: 0 100px;
}

.partnersSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partnersSection .partnersHeading{
  font-weight: bold;
  font-size: 5rem;
  font-family: "Passions Conflict", cursive;

}

.partnersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: 30px 0;
}

.partnersItem {
  flex-basis: 32%; 
  height: 120px;
  text-align: center;
  /* margin: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnersItem:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}
.partnersItem img{
  height: 90%;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .aboutSection {
    display: block;
  }
  .aboutSection .aboutSectionLeft img {
    height: 200px;
  }
  .aboutSection .aboutSectionRight p {
    padding: 0 10px;
  }
  .partnersItem{
    flex-basis: 100%;
  }
}

/* Media query for mideam devices */
@media (min-width: 769px) and (max-width: 1253px) {


  .partnersItem {
    flex-basis: 45%; /* Ensure items adjust to fit 2 per row */
  }
}